<div class="card text-left" *ngIf="pokeItem">
    <div class="row" *ngIf="pokemonInfo">
        <div class="col-5">
            <img class="card-img-left"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
                alt="Official Artwork">
        </div>
        <div class="col-7">
            <div class="card-body">
                <h5 class="card-title">
                    {{ pokemonInfo.name }}
                </h5>
                <h6 class="abilities">
                    <span *ngFor="let item of pokemonInfo.types"> 
                        {{ item.type.name }}
                    </span>
                </h6>
                <div class="card-info">
                    <div class="info-title">
                        <span class="info-id">{{ '#' + pokemonInfo.id }}</span>
                        <span class="info-max-hp">MAX HP </span>
                        <span class="info-max-hp-value"> </span>
                        <span class="info-max-cp">MAX CP</span>
                        <span class="info-max-cp-value">#1</span>
                    </div>
                    <div class="info-desc">
                        <table>
                            <tbody>
                                <tr>
                                    <td align="left" valign="top" class="title-desc">Height:</td>
                                    <td valign="top" class="detail-desc"><strong>~ 0.7 m</strong></td>
                                    <td valign="top" class="title-desc">Generation:</td>
                                    <td valign="top" class="detail-desc"><span class="pokemon-type">I</span></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" class="title-desc">Weight:</td>
                                    <td valign="top" class="detail-desc"><strong>~ 6.9 kg</strong></td>
                                    <td valign="top" class="title-desc">Candy:</td>
                                    <td valign="top" class="detail-desc"><span class="pokemon-type">Bulbasaur</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>