.bg-dark {
  background-color: #141726;
}

.logo {
  img {
    height: 36px;
  }
}

.search-box {
  position: relative;

  .search-icon {
    bottom: 6px;
    cursor: pointer;
    height: 24px;
    left: 8px;
    position: absolute;
    width: 24px;
    transition: all ease-in-out 200ms;

    &:hover {
      opacity: 0.75;
    }
  }

  .search-form {
    padding-left: 42px;
  }
}
